.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/ilyakuznetsov.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/ilyakuznetsov.xcuserdatad/xcschemes/xcschememanagement.plist
